@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Gas Stations Web Application</h3>

<p>Find Gas Stations near you!<br />See their gas prices!<br />Navigate to them!<br />Find special offers for your car!</p>
