@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Contact Information</h3>

<address>
    Dimosthenis Kagiaras<br />
    <a href="mailto:dimoskagiaras@hotmail.com">dimoskagiaras@hotmail.com</a><br />
    <abbr title="Phone">Phone: 697916xxxx</abbr>
</address>

<address>
    Dimitris Vichas<br />
    <a href="mailto:dim.vichas@gmail.com">dim.vichas@gmail.com</a><br />
    <abbr title="Phone">Phone: 693297xxxx</abbr>
</address>

<address>
    Christos Kourtzis<br />
    <a href="mailto:xkourtz@hotmail.com">xkourtz@hotmail.com</a><br />
    <abbr title="Phone">Phone: 697xxxxxxx</abbr>
</address>